
@{
    ViewBag.Title = "err1";
}

<h2>La operación no se completó... revise los datos de entrada!!!</h2>

@*<br />
<br />
<input type="submit" value="Volver" onclick="location.href='@Url.Action("Index","Home") '" />*@

